

@import "bootstrap";

:root{
    background: #081832;
}
body {
    background: #081832;
    background: linear-gradient(0deg,rgba(8,24,50,50) 0%, #081832 33%);
    min-height: 100vh;
}

#bg {
    margin:0;
    height: 100vh;
    width: 100%;
    background-image: url("../public/star_background.png");
    background-repeat: repeat;
    background-size: 200px;
}