@use "sass:color";

$theme-colors: (
    "primary": #0B3D91,
    "secondary": #FC3D21
);

@import "~bootstrap/scss/bootstrap";

:root{
  background: #081832;
}
body {
    background: #081832;
    background: linear-gradient(0deg,rgba(8,24,50,50) 0%, #081832 33%);
    min-height: 100vh;
    background-image: url("../public/star_background.png");
    background-repeat: repeat;
    background-size: 200px;
    padding:0;
}

form.SearchBar{
    display: flex;
    position: relative;

    input{
        border-radius: 1000px;
    }
    button{
        border-radius: 1000px;
        position: absolute;
        right:0px;
        img{
            width: 20px;
        } 
    }

}

.image-gallery{
    padding: 20px; // padding around the edges of the gallery to make it look better

    // Creates an auto-resizing grid for the best responsive experience
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); //adds columns in the grid as long as img is at least 300px wide

    .imgdiv{
        padding:20px;
        .card{
            background-color: color.scale(#081832, $blackness:20%);
        }
        img{
            border-radius: 2px;
        }
    }
}

nav.navbar {
    background-color: #081832;
    
    .nav-search{
        flex-grow:1;
    }
}


