@use "sass:color";

//bootstrap color variable overrides
$primary: #0B3D91;
$secondary: #FC3D21;
$dark: color.scale(#081832, $blackness:20%);

@import "~bootstrap/scss/bootstrap";

:root{
  background: #081832;
}
body {
    background: #081832;
    background: linear-gradient(0deg,rgba(8,24,50,50) 0%, #081832 33%);
    min-height: 100vh;

    //starry repeat
    background-image: url("../public/star_background.png");
    background-repeat: repeat;
    background-size: 200px;
}

//Search Bar
form.SearchBar{
    display: flex;
    position: relative;
    max-width: 800px;
    margin: auto;

    input{
        border-radius: 1000px;
    }
    button{
        border-radius: 1000px;
        position: absolute;
        right:0px;
        img{
            width: 20px;
        } 
    }

}

.image-gallery{
    padding: 20px; // padding around the edges of the gallery to make it look better

    // Creates an auto-resizing grid for the best responsive experience
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); //adds columns in the grid as long as img is at least 300px wide

    .imgdiv{
        padding:20px;
        img{
            border-radius: 2px;
        }
    }
}

nav.navbar {
    .nav-search{
        flex-grow:1;
        max-width: 500px;
    }
}

.modal{
    .modal-content{
        background-color: $dark;
        color:white;
        
        .modal-header{
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}



